configuration {
  combi-hide-mode-prefix: true;
  combi-modi: "drun,media:~/.config/rofi/media.sh";
  display-combi: "λ";
  show-icons: true;
  font: "FiraCode Nerd Font 25";
  window-format: "{w}. {c}";
  kb-ellipsize: "apostrophe";
}

@theme "rofi.rasi"
